@import '@/assets/styles/base.scss';
@import '@/assets/styles/fonts.scss';

// layout
#app {
  min-height: 100vh;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  font-weight: normal;
  display: grid;
  grid-template: auto 1fr auto / 1fr;
  grid-template-areas:
    'header'
    'main'
    'footer';
}

.header {
  grid-area: header;
  display: grid;
  grid-template-columns:
    minmax(1.5rem, 1fr) minmax(160px, auto) minmax(auto, 1120px)
    minmax(1.5rem, 1fr);
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

.main,
.footer {
  display: grid;
  grid-template-columns:
    minmax(1.5rem, 1fr) minmax(auto, 1280px)
    minmax(1.5rem, 1fr);
}

section {
  grid-column: 2;
  margin-bottom: var(--section-gap);
  &:first-of-type {
    margin-top: 0;
  }
  &:last-of-type {
    margin-bottom: calc(var(--section-gap) * 0.5);
  }
}
